In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%pylab inline

#В файле размещены данные обо всех сессиях всех игроков игры X за последние 90 дней 
#(udid - id игрока, time - дата, count - количество сессий в день, avg_duration - средняя продолжительность сессии 
#в секундах). Постройте на основании этих данных модель прогнозирования ухода игрока. Применяемые методы и 
#инструменты ограничены лишь вашей фантазией и умениями. Главное, что модель в итоге должна уметь прогнозировать 
#для каждого конкретного игрока с какой-либо вероятностью то, что он в ближайшее время покинет проект. 
#Покинувшим проект игроком давайте считать того, кто не заходил в игру уже минимум две недели.

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('TestGameSessions.csv')
df.head()

        udid        time  count  avg_duration
0  104008439  1474588800      2           112
1  104011104  1474588800      2            44
2  104022241  1474588800      2           413
3  104022356  1474588800      2           125
4  104022069  1474592400      5          1561

In [3]:
df.shape

(12923, 4)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12923 entries, 0 to 12922
Data columns (total 4 columns):
udid            12923 non-null int64
time            12923 non-null int64
count           12923 non-null int64
avg_duration    12923 non-null int64
dtypes: int64(4)
memory usage: 403.9 KB

In [5]:
df.describe()

               udid          time         count  avg_duration
count  1.292300e+04  1.292300e+04  12923.000000  12923.000000
mean   1.039821e+08  1.478318e+09      1.456009   3072.271377
std    6.143904e+05  2.132706e+06      1.462151  11164.270049
min    7.438516e+07  1.474589e+09      1.000000      1.000000
25%    1.040141e+08  1.476572e+09      1.000000     53.000000
50%    1.040233e+08  1.478135e+09      1.000000    259.000000
75%    1.040263e+08  1.480110e+09      1.000000    954.500000
max    1.040312e+08  1.482364e+09     36.000000  86253.000000

In [7]:
df['time']= pd.to_datetime(df['time'], unit='s')

In [15]:
df.head(10)

        udid                time  count  avg_duration
0  104008439 2016-09-23 00:00:00      2           112
1  104011104 2016-09-23 00:00:00      2            44
2  104022241 2016-09-23 00:00:00      2           413
3  104022356 2016-09-23 00:00:00      2           125
4  104022069 2016-09-23 01:00:00      5          1561
5  104022090 2016-09-23 01:00:00      3          2631
6  104022326 2016-09-23 01:00:00      2            70
7  103995348 2016-09-23 01:00:00      1         72612
8  104022332 2016-09-23 01:00:00      1            63
9  104009608 2016-09-23 01:00:00      2           639

In [9]:
df['time'].max()

Timestamp('2016-12-21 23:40:00')

In [24]:
df_active=df[df['time']>'2016-12-08']

In [25]:
df_active.head()

            udid                time  count  avg_duration
11320  104023758 2016-12-08 00:50:00      1            12
11321  103987642 2016-12-08 01:00:00      1           514
11322  104023758 2016-12-08 01:00:00      2           196
11323  104030129 2016-12-08 01:00:00      2         12933
11324  104023758 2016-12-08 01:10:00      2           908

In [35]:
df_active.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1603 entries, 11320 to 12922
Data columns (total 4 columns):
udid            1603 non-null int64
time            1603 non-null datetime64[ns]
count           1603 non-null int64
avg_duration    1603 non-null int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 142.6 KB