In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%pylab inline
#Machine learning
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

#В файле размещены данные обо всех сессиях всех игроков игры X за последние 90 дней 
#(udid - id игрока, time - дата, count - количество сессий в день, avg_duration - средняя продолжительность сессии 
#в секундах). Постройте на основании этих данных модель прогнозирования ухода игрока. Применяемые методы и 
#инструменты ограничены лишь вашей фантазией и умениями. Главное, что модель в итоге должна уметь прогнозировать 
#для каждого конкретного игрока с какой-либо вероятностью то, что он в ближайшее время покинет проект. 
#Покинувшим проект игроком давайте считать того, кто не заходил в игру уже минимум две недели.

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('TestGameSessions.csv')
df.head()

        udid        time  count  avg_duration
0  104008439  1474588800      2           112
1  104011104  1474588800      2            44
2  104022241  1474588800      2           413
3  104022356  1474588800      2           125
4  104022069  1474592400      5          1561

In [3]:
df['time']= pd.to_datetime(df['time'],unit='s')
df.head()

        udid                time  count  avg_duration
0  104008439 2016-09-23 00:00:00      2           112
1  104011104 2016-09-23 00:00:00      2            44
2  104022241 2016-09-23 00:00:00      2           413
3  104022356 2016-09-23 00:00:00      2           125
4  104022069 2016-09-23 01:00:00      5          1561

In [4]:
df['time'] = df['time'].dt.date

In [5]:
df.sort_values(by='time', ascending=True)

            udid        time  count  avg_duration
0      104008439  2016-09-23      2           112
80     103997007  2016-09-23      1           123
79     104022409  2016-09-23      1         11396
78     104022106  2016-09-23      1          1928
77     104021079  2016-09-23      3            37
76     103996866  2016-09-23      8          2820
75     104022298  2016-09-23      3          3320
74     104019815  2016-09-23      4          1657
73     104012689  2016-09-23      3           935
72     103968104  2016-09-23      2            26
71     104022301  2016-09-23      2            83
70     104021609  2016-09-23      2          1182
81     104022225  2016-09-23      1            14
69     104012689  2016-09-23      3          2307
67     103989461  2016-09-23      4          3574
66     104022281  2016-09-23      1             2
65     104015752  2016-09-23      2           135
64     104012689  2016-09-23      1           130
63     104022396  2016-09-23      3          1942
62     104022396  2016-09-23      1          1112
61     104012689  2016-09-23      2          3459
60     103964963  2016-09-23      1           913
59     104022391  2016-09-23      1            21
58     104018201  2016-09-23      1            79
57     104012689  2016-09-23      1          1815
68     104009678  2016-09-23      1         35276
56     104012689  2016-09-23      1          1225
82     104022370  2016-09-23      1            62
84     103997007  2016-09-23      2            68
109    104022422  2016-09-23      1          2531
...          ...         ...    ...           ...
12852  104018141  2016-12-21      1             4
12851  104031150  2016-12-21      1             3
12850  104031189  2016-12-21      1         83632
12849  104031151  2016-12-21      1           114
12848  104031150  2016-12-21      1           137
12847  104031150  2016-12-21      2          1100
12846  104014310  2016-12-21      1          1093
12845  103996790  2016-12-21      1            16
12844  103972991  2016-12-21      6          1075
12843  103972991  2016-12-21      5          2581
12842  104031154  2016-12-21      1            23
12841  104031151  2016-12-21      1           130
12856  104020784  2016-12-21      1            21
12840  104031151  2016-12-21      1           305
12838  104031171  2016-12-21      1            12
12837  103988410  2016-12-21      1            57
12836  104031171  2016-12-21      3            26
12835  104031171  2016-12-21      5            60
12833  104031171  2016-12-21      7            87
12832  104031171  2016-12-21      1           110
12831  104031171  2016-12-21      1            11
12830  103988926  2016-12-21      1          1352
12829  104031171  2016-12-21      7           143
12828  104031171  2016-12-21      6           115
12827  104031171  2016-12-21      2           857
12826  104005926  2016-12-21      4           409
12825  104031171  2016-12-21      1             6
12824  104031097  2016-12-21      1           182
12839  103988926  2016-12-21      1          4879
12922  104022290  2016-12-21      1            36

[12923 rows x 4 columns]

In [12]:
df['churn'] = 0

In [13]:
df.head()

        udid        time  count  avg_duration  churn
0  104008439  2016-09-23      2           112      0
1  104011104  2016-09-23      2            44      0
2  104022241  2016-09-23      2           413      0
3  104022356  2016-09-23      2           125      0
4  104022069  2016-09-23      5          1561      0