In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%pylab inline
#Machine learning
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

#В файле размещены данные обо всех сессиях всех игроков игры X за последние 90 дней 
#(udid - id игрока, time - дата, count - количество сессий в день, avg_duration - средняя продолжительность сессии 
#в секундах). Постройте на основании этих данных модель прогнозирования ухода игрока. Применяемые методы и 
#инструменты ограничены лишь вашей фантазией и умениями. Главное, что модель в итоге должна уметь прогнозировать 
#для каждого конкретного игрока с какой-либо вероятностью то, что он в ближайшее время покинет проект. 
#Покинувшим проект игроком давайте считать того, кто не заходил в игру уже минимум две недели.

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('TestGameSessions.csv')
df.head()

        udid        time  count  avg_duration
0  104008439  1474588800      2           112
1  104011104  1474588800      2            44
2  104022241  1474588800      2           413
3  104022356  1474588800      2           125
4  104022069  1474592400      5          1561

In [3]:
df['time']= pd.to_datetime(df['time'], unit='s')
df.head()

        udid                time  count  avg_duration
0  104008439 2016-09-23 00:00:00      2           112
1  104011104 2016-09-23 00:00:00      2            44
2  104022241 2016-09-23 00:00:00      2           413
3  104022356 2016-09-23 00:00:00      2           125
4  104022069 2016-09-23 01:00:00      5          1561